{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prefer-rest-params": 1,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/prefer-rest-params": "off"
  }
}
